<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Custom JavaScript/CSS</label>
    <label lang="en">Custom JavaScript/CSS</label>

    <version>1.1.1</version>
    <link>https://www.davidneustadt.de</link>
    <author>David Neustadt</author>
    <compatibility minVersion="5.6.0" />
    <copyright>David Neustadt</copyright>
    <license>MIT</license>
    <description lang="de">Custom JavaScript/CSS für Shopware</description>
    <description lang="en">Custom JavaScript/CSS for Shopware</description>

    <changelog version="1.1.1">
        <changes lang="de">Kompatibilität zu Shopware 5.7</changes>
        <changes lang="en">Compatibility to Shopware 5.7</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">LESS Syntax Highlighting für ACE Editor ab Shopware 5.6</changes>
        <changes lang="en">LESS syntax highlighting for ACE Editor since Shopware 5.6</changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="de">Initial release</changes>
        <changes lang="en">Initial release</changes>
    </changelog>
</plugin>
